@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@400;700&family=Permanent+Marker&family=Quicksand:wght@300;400&display=swap');

/*
font-family: 'Abril Fatface', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Quicksand', sans-serif;
*/


/* Overall style for elements*/
html {
    min-height: 100%;
}

body {
    /*background: url(/images/styling/Skärmavbild\ 2015-12-02\ kl.\ 20.15.54.png) no-repeat center center fixed;*/
    background-size: cover;
    background-color: rgb(204, 207, 255);
    height: 100vh;
    /*overflow: hidden;*/
    font-family: 'Quicksand', sans-serif;
}

i {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: tomato;
}

/* Style for index page */

#big-div {
    width: 97%;
    /*background-image: url(/images/styling/Skärmavbild\ 2015-12-02\ kl.\ 20.15.54.png);*/
    /* height: 100%; You must set a specified height
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;*/
}

.heading {
    font-family: 'Abril Fatface', cursive;
}

.footer {
    width: 3%;
}

#thebox {
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;*/
    /* Box shadow code from https://getcssscan.com/css-box-shadow-examples */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Portfolio list image style */
.thumbnail {
    max-height: 200px;
    width: auto;
}

.portfoliolistbox {
    width: 97%;
}